@import "src/styles/colors";

/*
** Career
**/

.career {
  &__splash {
    background-image: url("../images/career/1-gratisography.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 54vh;
    width: 100vw;

      &--title {
        color: white;
      }
  }

  &__bio {
    overflow: hidden;
    background-color: $green;
    height: 80vh;
    position: relative;
    width: 100vw;
    @media (max-width: 1368px) { height: 92vh; }
    &--face {
      position: relative;
      img {
        height: auto;
        width: auto;
      }
    }
    &--speech {
      color: white;
    }
  }

  &__journey {
    &--step {
      text-align: center;
    }
  }

  &__recap {
    background-color: $blue;
    color: white;
    height: 80vh;
    width: 100vw;

    p {
      width: 50%;
    }
  }
}

