@import "src/styles/colors";

/*
** Home
**/

.home {
  h2 {
    font-family: "Antenna Cond Regular" ;
    font-size: 28px;
  }

  .button {
    background-color: transparent;
    border-radius: 15px;
    border: solid 2px $green;
    color: $green;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

    a {
      color: $green;
      text-decoration: none;
      :visited {
        color: $green;
      }
      :hover {
        color: $green;
      }
    }
  }

  &__splash {
    background-color: $yellow;
    background-size: cover;
    overflow: auto;
    height: 90vh;
    width: 99.1vw;

    .home__ww {
      height: auto;
      margin-top: 16%;
      max-width: 130%;
      z-index: 2;
    }

    &::after {
      background: radial-gradient(ellipse at top,hsla(0,0,100%,0) 0,rgba(0,0,0,.1) 110%);
      content: "";
      display: block;
      left: 0;
      min-height:  90vh;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    h1 {
      font-family: "Antenna Cond Regular" ;
      font-size: 40px;
      margin-left: 4vh;
      text-transform: uppercase;
    }

    &--content {
      display: inline-block;

      button {
        margin-left: 8vh;
        position: absolute;
        z-index: 3;
      }
    }

    &--title {
      width: 106%;

      img {
        display: inline;
        height: 17px;
        width: 24px;

        &:first-child {
          float: left;
          transform: rotate(180deg);
        }

        &:nth-child(3) {
          float: right;
          margin-right: 4vh;
          margin-top: -2vh;
        }
      }
    }

    &--social {
      ul {
        overflow: hidden;
        li {
          float: left;
          font-size: 20px;
          list-style-type: none;
          padding-right: 5vh;
        }
      }
    }
  }

  &__topProjects {

    img {
      height: 100%;
      position: absolute;
      width: 100%;
    }

    span {
      color: white;
      font-size: 20px;
      margin-left: 1%;
      position: absolute;
      top: 90%;
    }

    &--tdf {
      height: 396px;
      position: relative;
      width: 530px;
    }

    &--ffyn {
      height: 396px;
      position: relative;
      width: 530px;
    }
  }

  &__topTools {
    height: 37vh;

    background-color: $prune;
    color: white;

    h2 {
      margin-top: 60px;
      margin-bottom: 30px;
    }

    h3 {
      text-transform: uppercase;
    }

    ul, li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .container {
    }
  }
}