@import "src/styles/colors";

/*
** Home
**/

.home {
  h2 {
    font-family: "Antenna Cond Regular" ;
    font-size: 28px;
  }

  .button {
    background-color: transparent;
    border-radius: 15px;
    border: solid 2px $green;
    color: $green;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

    :hover {
      color: $green;
      font-size: 21px;
    }

    a {
      color: $green;
      text-decoration: none;
      :visited {
        color: $green;
      }
      :hover {
        color: $green;
      }
    }


  }

  &__splash {
    background-color: $yellow;
    background-size: cover;
    overflow: hidden;
    height: 90vh;
    width: 99.1vw;

    .home__ww {
      height: auto;
      margin-top: 16%;
      max-width: 130%;
      position: relative;
      z-index: 2;
    }

    &::after {
      background: radial-gradient(ellipse at top,hsla(0,0,100%,0) 0,rgba(0,0,0,.1) 110%);
      content: "";
      display: block;
      left: 0;
      min-height:  90vh;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    h1 {
      font-family: "Antenna Cond Regular" ;
      font-size: 40px;
      margin-left: 4vh;
      text-transform: uppercase;
    }

    &--content {
      display: inline-block;
      position: relative;
      width: 100%;
      z-index: 3;

      button {
        margin-left: 12%;
        position: absolute;
        z-index: 3;
      }
    }

    &--title {
      display: inline;
      width: 110%;

      img {
        display: inline;
        height: 17px;
        width: 24px;

        &:first-child {
          float: left;
          transform: rotate(180deg);
        }

        &:nth-child(3) {
          left: 84%;
          position: absolute;
          bottom: 54%;
        }
      }
    }

    &--social {
      z-index: 3;
      ul {
        overflow: hidden;
        li {
          float: left;
          font-size: 20px;
          list-style-type: none;
          padding-right: 10%;

          a {
            color: black;
            cursor: pointer;

            &:hover {
              text-decoration: none;
              opacity: .5;
            }

            &:visited {
              color: black;
            }
          }
        }
      }
    }
  }

  &__topProjects {
    transition: .5s ease;
    img {
      height: 100%;
      position: absolute;
      width: 100%;
      transition: .5s ease;

      &:hover {
        opacity: 0;
      }
    }

    .border:hover {
      box-shadow:
              1px 1px #373737,
              1px 1px #373737,
              1px 1px #373737,
              1px 1px #373737,
              1px 1px #373737,
              1px 1px #373737;

      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
      transition: .5s ease;
        .black-opacity {
          opacity: 0.6;
        }
        span {
          opacity: 1;
        }
    }

    .black-opacity {
      background-color: black;
      height: 396px ;
      position: absolute;
      opacity: 0;
      width: 530px;
      z-index: 1;
      transition: .5s ease;
    }

    span {
      background-color: $prune;
      color: white;
      font-size: 24px;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: .5s ease;
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      z-index: 3;
    }

    &--item {
      height: 396px;
      position: relative;
      width: 530px;
    }

  }

  &__topTools {
    height: 37vh;
    background-color: $prune;
    color: white;

    h2 {
      margin-top: 60px;
      margin-bottom: 30px;
    }

    h3 {
      text-transform: uppercase;
    }

    ul, li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

  }
}