@import "src/styles/colors";
@import "src/styles/icons";
/*
** Fonts
**/

@font-face {
  font-family: 'Antenna Cond Regular';
  src: url(../components/fonts/FordAntenna-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Futura lt bt';
  src: url(../components/fonts/futura-light-bt.ttf) format('truetype');
}

/*
** Main
**/

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;

  @media screen and (min-width: 1519px) and (max-width: 1904px) {
    font-size: 115%;
  }

  @media screen and (min-width: 1904px)  {
    font-size: 125%;
  }
}

section {
  font-size: 1.2rem;
}

.main-container {
  max-width: 100vw;
  font-family: "Futura lt bt";
}

.not__found {
  h1 {
    margin-top: 3.125rem;
  }
}

/*
** Components
**/

.footer {
  padding-bottom: 10px;
  padding-top: 10px;

  img {
    height: 40px;
    width: 40px;
  }

  .arrow-up.icon {
    color: #000;
    position: absolute;
    margin-left: 11px;
    margin-top: 4px;
    width: 1px;
    height: 16px;
    background-color: black;
  }

  .arrow-up.icon:before {
    content: '';
    position: absolute;
    left: -5px;
    top: 1px;
    width: 10px;
    height: 10px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .circle {
    background-color:#fff;
    border:1px solid black;
    cursor: pointer;
    height:25px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:25px;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;

  a {
    color: black;
    cursor: pointer;

    &:hover {
      color: black;
      text-decoration: none;
      opacity: .5;
    }

    &:visited {
      color: black;
    }
  }

  img {
    position: relative;
    max-height: 3.75rem;
    max-width: 3.75rem;
  }

  ul {
    padding-left: 1rem;
    li {
      color: black;
      float: left;
      font-size: 1.375rem;
      list-style-type: none;
      padding-right: 2.5rem;
    }
  }

  .header__social {
    display: inline-block;
    height: 200%;
    width: 150%;
    i {
      padding-right: 1.25rem;
    }

    .icon-behance::before {
      content: url("../images/behance.svg");
      position: relative;
      top: 4%;
    }

    .icon-youtube::before {
      position: absolute;
      top: 4%;
    }
  }
}

.branch {
  height: 6.8125rem;
  width: 8.6875rem;
  position: absolute;
}

.context {
  color: white;
  height: auto;
  margin-bottom: 3.125rem;

  h2 {
    margin-top: 3.75rem;
    margin-bottom: 1.875rem;
  }

  p {
    margin-bottom: 3.75rem;
  }
}

.leaf {

  height: 2.75rem;
  width: 2.75rem;
  position: absolute;

    &__left {
      left: 7%;
      transform: rotate(180deg);
    }

    &__right {
      left: 88%;
      transform: scaleX(-1) rotate(180deg);
    }
}

#otherProject {
  background-color: $white-back;

  img {
    height: 150px !important;
    margin-left: 25px;
    margin-top: 25px;

    width: 150px !important;

  }

  .other-project {
    transition: .5s ease;

    &:hover {

      img {
        transform: scale(1.2);

      }
      span {
        opacity: 1;
      }
    }

  }

  span {
    background-color: $prune;
    color: white !important;
    left: 41%;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    opacity: 0;
    top: 38%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 63%;
    z-index: 3;

  }
}

.projects {
  transition: .5s ease;

  img {
    height: 100%;
    position: absolute;
    width: 100%;
    transition: .5s ease;

    &:hover {
      opacity: 0;
    }
  }

  &.border:hover {
    box-shadow:
            1px 1px #373737,
            1px 1px #373737,
            1px 1px #373737,
            1px 1px #373737,
            1px 1px #373737,
            1px 1px #373737;

    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
    .black-opacity {
      opacity: 0.6;
    }
    span {
      opacity: 1;
    }
  }

  .black-opacity {
    background-color: black;
    height: 396px ;
    position: absolute;
    opacity: 0;
    width: 530px;
    z-index: 1;
    transition: .5s ease;
  }

  span {
    background-color: $prune;
    color: white !important;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 3;
  }

  &--item {
    height: 396px;
    position: relative;
    width: 530px;
  }
}

.recap {
  color: white;
  margin-top: 3.125rem;
  height: 60vh;
  width: 99.1vw;

  p {
    width: 50%;
  }

  .leaf {
    transform: unset !important;
  }
}



