/*
** Projects
**/

.projects {
  &__splash {
    background-image: url("../images/projects/Banniere-mes-projets.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 54vh;
    width: 100vw;

    &--title {
      color: white;
    }
  }

  &__overview {
    background-image: url("../images/projects/background-mes-projets.png");
    background-repeat: no-repeat;
    background-size: cover;
    img {
      height: 100%;
      position: absolute;
      width: 100%;
    }


  &--item {
      height: 396px;
      position: relative;
      width: 530px;
    }


  }
}