
@import "src/styles/colors";

/*
** Ffyn
**/

.ffyn {
  &__splash {
    background-image: url("../../images/projects/ffyn/1-Ffyn - Splash - tFHD.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 54vh;
    width: 99.1vw;

    &--title {
      color: black;
    }
  }

  &__intro {
    background-color: $blue;
    color: white;
    margin-bottom: 3.125rem;

    h2 {
      margin-top: 3.75rem;
      margin-bottom: 1.875rem;
    }

    p {
      margin-bottom: 3.75rem;
    }

  }

  &__steps {
    h3 {
      margin-bottom: 3.125rem;
    }

    ul,li {

      list-style-type: none;
      padding: 0;
    }

    .highlight {
      color: $green;
    }

    .img-step {
      height: 320px;
      width: 570px;
      &:first-child {
        bottom: 0;
        position: absolute;
      }
      &:nth-child(3) {
        bottom: 0;
        position: absolute;
      }
    }

    &--item {
      margin-top: 3.125rem;

        .h-42 {
          height: 42%;
        }

        .h-45 {
          height: 45%;
        }
    }
  }

  &__recap {
    background-color: $prune;

  }
}