@import "src/styles/colors";

/*
** Ffyn
**/

.ffyn {
  &__splash {

    background-image: url("../../images/projects/ffyn/1-Ffyn - Splash - tFHD.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 54vh;
    width: 100vw;

    &--title {
      color: black;
    }

  }

  &__intro {
    background-color: $blue;
    color: white;
    margin-bottom: 50px;
  }

  &__steps {
    &--item {
      margin-top: 50px;
    }
  }

  &__recap {
    background-color: $green;
    color: white;
    margin-top: 50px;
    height: 60vh;
    width: 100vw;

    p {
      width: 50%;
    }
  }
}