@import "src/styles/colors";


@font-face {
  font-family: 'Valeria bold grunge';
  src: url(../../components/fonts/ValeriaBoldGrunge.otf) format('opentype');
}

@font-face {
  font-family: 'Billionaire medium grunge';
  src: url(../../components/fonts/BillionaireMediumGrunge.otf) format('opentype');
}
/*
** peneloppe
**/


.peneloppe {
  &__splash {
    background-image: url("../../images/projects/peneloppe/1- SPLASH SCREEN.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 54vh;
    width: 99.1vw;

    &--title {
      color: black;
    }
  }

  &__intro {
    background-color: $prune;

    .leaf__left {
      top: 9%;
    }

  }

  &__steps {
    h3 {
      margin-bottom: 3.125rem;
    }

    img:nth-child(2) {
      top: 50%;
      transform: scaleX(-1) rotate(180deg);
    }

    img:nth-child(3) {
      top: 70%;
      transform: rotate(180deg);
    }

    img:nth-child(4) {
      top: 32%;
      transform: scaleX(-1) rotate(180deg);
    }

    img:nth-child(5) {
      top: 72%;
    }

    ul,li {
      list-style-type: none;
      padding: 0;
    }

    .highlight {
      color: $green;
    }

    &--item {
      margin-top: 4rem;

      &--prod {
        margin-top: 4rem;

        h4 {
          color: $green;
        }

        .wireflow__img {
          margin-bottom: 1.25rem;
          margin-top: 1.25rem;
          text-align: center;
        }

        .row {
          background-color: $grey-light;
        }
      }
    }
  }

  &__recap {
    background-color: $blue;
    color: white;
  }

  .journey {
    &__color {


        overflow: hidden;

        li {
          height: 3.125rem;
          float: left;
          list-style-type: none;
          margin-right: 5%;
          width: 3.125rem;
        }

        &--liberty {
          :first-child {
            background-color: #DF7B9E;
          }

          :nth-child(2) {
            background-color: #9D97CA;
          }

          :nth-child(3) {
            background-color: #50BEEC;
          }

          :nth-child(4) {
            background-color: #9ECCA4;
          }
        }

        &--strength {
          :first-child {
            background-color: #89A4B5;
          }

          :nth-child(2) {
            background-color: #DEB524;
          }

          :nth-child(3) {
            background-color: #906D3B;
          }

          :nth-child(4) {
            background-color: #C73428;
          }
        }

    }

    &__font {
      text-align: center;

      span:before {
        content: "\A";
        white-space: pre;
      }

      &--liberty {
        font-family: "Valeria bold grunge";
      }

      &--strength {
        font-family: "Billionaire medium grunge";
      }
    }


  }
}