@import "src/styles/colors";


@font-face {
  font-family: 'Valeria bold grunge';
  src: url(../../components/fonts/ValeriaBoldGrunge.otf) format('opentype');
}

@font-face {
  font-family: 'Billionaire medium grunge';
  src: url(../../components/fonts/BillionaireMediumGrunge.otf) format('opentype');
}
/*
** Penelope
**/


.penelope {
  &__splash {
    background-image: url("../../images/projects/penelope/1- SPLASH SCREEN.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 54vh;
    width: 99.1vw;

    &--title {
      color: black;
    }
  }

  &__intro {
    background-color: $prune;
    color: white;
    margin-bottom: 50px;

    h2 {
      margin-top: 60px;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 60px;
    }
  }

  &__steps {
    h3 {
      margin-bottom: 50px;
    }

    ul,li {
      list-style-type: none;
      padding: 0;
    }

    .highlight {
      color: $green;
    }

    &--item {
      margin-top: 50px;



      &--prod {
        margin-top: 50px;

        h4 {
          color: $green;
        }

        .wireflow__img {
          margin-bottom: 20px;
          margin-top: 20px;
          text-align: center;
        }

        .row {
          background-color: $grey-light;
        }
      }
    }
  }

  &__recap {
    background-color: $blue;
    color: white;
    margin-top: 50px;
    height: 60vh;
    width: 99.1vw;

    p {
      width: 50%;
    }
  }

  .journey {
    &__color {


        overflow: hidden;

        li {
          height: 50px;
          float: left;
          list-style-type: none;
          margin-right: 5%;
          width: 50px;
        }

        &--liberty {
          :first-child {
            background-color: red;
          }

          :nth-child(2) {
            background-color: blue;
          }

          :nth-child(3) {
            background-color: green;
          }

          :nth-child(4) {
            background-color: yellow;
          }
        }

        &--strength {
          :first-child {
            background-color: rebeccapurple;
          }

          :nth-child(2) {
            background-color: brown;
          }

          :nth-child(3) {
            background-color: goldenrod;
          }

          :nth-child(4) {
            background-color: yellowgreen;
          }
        }

    }

    &__font {
      text-align: center;

      span:before {
        content: "\A";
        white-space: pre;
      }

      &--liberty {
        font-family: "Valeria bold grunge";
      }

      &--strength {
        font-family: "Billionaire medium grunge";
      }
    }


  }
}