@import "src/styles/colors";


/*
** Tdf
**/

.tdf {
  &__splash {
    background-color: $white-back;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 54vh;
    width: 99.1vw;

    &--title {
      color: black;
    }

  }

  &__intro {
    background-color: $prune;

    .leaf__left {
      top: 19%;
    }
  }

  &__steps {
    &--item {
      margin-top: 4rem;
    }

    img:nth-child(2) {
      top: 50%;
      transform: scaleX(-1) rotate(180deg);
    }

    img:nth-child(3) {
      top: 70%;
      transform: rotate(180deg);
    }

    img:nth-child(4) {
      top: 52%;
      transform: scaleX(-1) rotate(180deg);
    }

    img:nth-child(5) {
      top: 72%;
    }
  }

  &__recap {
    background-color: $green;
    color: white;
  }
}