@import "src/styles/colors";


/*
** Tdf
**/

.tdf {
  &__splash {
    background-color: $white-back;
    height: 54vh;
    width: 100vw;

    &--title {
      color: black;
    }

  }

  &__intro {
    background-color: $prune;
    color: white;
    margin-bottom: 50px;

    h2 {
      margin-top: 60px;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 60px;
    }
  }

  &__steps {
    &--item {
      margin-top: 50px;
    }
  }

  &__recap {
    background-color: $green;
    color: white;
    margin-top: 50px;
    height: 60vh;
    width: 100vw;

    p {
      width: 50%;
    }
  }
}