/*
** Colors
**/
$color-top-tools: #922e63;
$color-home-button: #4daa16;
$color-home-splash: #e3cc40;


/*
** Home
**/

.home {

  .button {
    background-color: transparent;
    border-radius: 15px;
    border: solid 2px $color-home-button;
    color: $color-home-button;
    cursor: pointer;
    font-weight: bold;
    //padding-bottom: 5px;
    padding-bottom: 1px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }



  &__splash {
    background-color: $color-home-splash;
    height: 80vh;

    h1 {
      text-transform: uppercase;
    }

    &--content {
      display: inline-block;
    }
  }

  &__topProjects {
    img {
      height: 50vh;
      width: 65vh;
    }

    &--ffyn {
      padding-left: 120px;
    }
  }

  &__topTools {
    background-color: $color-top-tools;
    color: white;

    h3 {
      text-transform: uppercase;
    }

    ul, li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}

/*
** Footer
**/

.footer {
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      float: left;
      padding-right: 50px;
    }
  }
}

